<!-- list -->
<ul class="nav">
  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
    <span translate="nav.NAVIGATION">Navigation</span>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="manager.dashboard" class="auto">
      <i class="glyphicon glyphicon-stats icon text-primary-dker"></i>
      <span translate="nav.DASHBOARD">Dashboard</span>
    </a>
  </li>
  <li>
    <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-th-large icon text-success"></i>
      <span class="font-bold" translate="nav.PEOPLE">People</span>
    </a>
    <ul class="nav nav-sub dk">
      <li ui-sref-active="active">
        <a ui-sref="manager.departments.index">
          <span translate="nav.DEPARTMENTS">Departments</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="manager.designations.index">
          <span translate="nav.DESIGNATIONS">Designations</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="manager.employees.index">
          <span translate="nav.EMPLOYEES">Employees</span>
        </a>
      </li>
    </ul>
  </li>
  <li>
    <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-th-large icon text-success"></i>
      <span class="font-bold" translate="nav.HR">HR</span>
    </a>
    <ul class="nav nav-sub dk">
      <li ui-sref-active="active">
        <a ui-sref="manager.appreciations.index">
          <span translate="nav.APPRECIATIONS">Appreciations</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="manager.assets.index">
          <span translate="nav.ASSETS">Assets</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="manager.tasks.index">
          <span translate="nav.TASKS">Assets</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="manager.holidays.index">
          <span translate="nav.HOLIDAYS">Holidays</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="manager.news.index">
          <span translate="news.NEWS">News</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="manager.accounting.index">
          <span translate="accounting.ACCOUNTING">Accounting</span>
        </a>
      </li>
    </ul>
  </li>
  <li>
    <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-user icon text-success"></i>
      <span class="font-bold" translate="nav.ATTENDANCE">Attendance</span>
    </a>
    <ul class="nav nav-sub dk">
      <li ui-sref-active="active">
        <a ui-sref="manager.leavetypes.index">
          <span translate="nav.LEAVETYPES">Leavetypes</span>
        </a>
      </li>

    </ul>
  </li>
</ul>
<!-- / list -->
