<!--<span ng-init="$parent.pageName = 'dashboard.DASHBOARD'"></span>-->
<div class="hbox hbox-auto-xs hbox-auto-sm">
  <!-- main -->
  <div class="row">
    <div class="col-md-4" ng-repeat="video in videos">
      <div class="panel panel-default">
        <div class="panel-body">
          <video width="320" height="240" controls>
            <source src="{{ video.url}}" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
      </div>
    </div>
  </div>
  <!-- / main -->
</div>