<div class="hbox hbox-auto-xs hbox-auto-sm">
    <div class="wrapper">
        <div class="row">
            <div class="col-md-10">
                <div class="panel panel-default">
                    <div class="panel-body" ng-init="getVideo()">
                        <h3 class="text-center">{{ video.name }}</h3>
                        <div class="videogular-container">
                            <videogular vg-player-ready="onPlayerReady($index, $API)" vg-update-state="onUpdateState($index, $state)" vg-autoPlay="config.autoPlay" vg-theme="config.theme">
                                <vg-media vg-src="sources[$index]" vg-preload="config.preload" vg-native-controls="true"></vg-media>

                            </videogular>
                        </div>
                        <div class="m-t">
                            <input-stars max="5" ng-model="video.avgRating" readonly="true"></input-stars>
                        </div>
                        <div class="text-ellipsis">
                            {{ video.description }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>