
  <!-- navbar -->
  <div data-ng-include="'templates/blocks/header.html'" class="app-header navbar">
  </div>
  <!-- / navbar -->

  <!-- menu -->
  <div data-ng-include="'templates/blocks/aside.html'" class="app-aside hidden-xs bg-black">
  </div>
  <!-- / menu -->

  <!-- view -->
  <div class="app-content">
    <div class="app-content-body fade-in-up" ui-view>
    </div>
  </div>
  <!-- / view -->
  <!-- navbar -->
  <div class="app-footer bg-light lt b-t" ui-view="footer">
    
  </div>
  <!-- /navbar -->
