<div class="hbox hbox-auto-xs hbox-auto-sm">
    <div class="wrapper" infinite-scroll="paginate()" infinite-scroll-disabled="busy || reachedEnd" infinite-scroll-distance="3">
        <div class="row">
            <div class="col-md-4" ng-repeat="video in videos">
                <div class="panel">
                    <div class="panel-heading no-border bg-primary">
                        <span class="text-lt">{{ video.name }}</span>
                    </div>
                    <div class="panel-body">
                        <div class="videogular-container">
                            <videogular vg-player-ready="onPlayerReady($index, $API)" vg-update-state="onUpdateState($index, $state)" vg-autoPlay="config.autoPlay" vg-theme="config.theme">
                                <vg-media vg-src="sources[$index]" vg-preload="config.preload" vg-native-controls="true"></vg-media>

                            </videogular>
                        </div>
                        <div class="m-t">
                            <input-stars max="5" ng-model="video.avgRating" readonly="true"></input-stars>
                        </div>
                        <div class="text-ellipsis">
                            {{ video.description }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>